# Ignore fasta files
*.fasta
*.fa

# Ignore GFF files
*.gff
*.gtf

# Ignore MacOS system files
.DS_Store

# Ignore GitHub Copilot instructions
.github/copilot-instructions.md

# ============================================
# Compiled Output (Can be regenerated)
# ============================================
target/
*.class
*.jar
*.war
*.ear
com/
geneviz-java/matrices
geneviz-java/META-INF/
org/
*xsd
*dtd
xml/



# ============================================
# Maven Specific
# ============================================
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# ============================================
# IDE - NetBeans
# ============================================
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
geneviz-java/Log4j-charsets.properties
geneviz-java/log4j2.xml
geneviz-java/synth_look_and_feel_1.xml
geneviz-java/LICENSE
geneviz-java/ChangeLog
geneviz-java/AUTHORS
